# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# JVM / Gradle Crash Logs
hs_err_pid*
replay_pid*

# Project Specific Documentation (Sensitive)
/docs/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub-cache/
.pub/
/build/
/coverage/

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# Symbolication related
app.*.symbols
app.*.map.json

# Secrets & Configs
.env
.env.*
*.secrets
.vscode/launch.json
supabase/.temp/
.supabase/
.gemini/
*.pem
*.key
